.auth-page {
  width: 100%;
  min-height: 100vh;
  background: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    background: #fff;
    max-width: 400px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 50px 25px;
    .pass {
      position: relative;
      small {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}
.new-login {
  .bg-img {
    background: url("https://images.pexels.com/photos/258109/pexels-photo-258109.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 100vh;
    background-size: cover;
    background-position: center;
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 999;
      text-align: center;
      padding: 60px 32px;
      width: 370px;
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, 0.04);
      box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
      header {
        color: white;
        font-size: 33px;
        font-weight: 600;
        margin: 0 0 35px 0;
        font-family: "Montserrat", sans-serif;
      }
      .field {
        position: relative;
        height: 45px;
        width: 100%;
        display: flex;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
        span {
          color: #222;
          width: 40px;
          line-height: 45px;
        }
        input {
          height: 100%;
          width: 100%;
          background: transparent;
          border: none;
          outline: none;
          color: white;
          font-size: 16px;
          font-family: "Poppins", sans-serif;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 10px;
        }
        input[type="submit"] {
          color: white;
          font-size: 18px;
          letter-spacing: 1px;
          font-weight: 600;
          cursor: pointer;
          font-family: "Montserrat", sans-serif;
        }
        .show {
          position: absolute;
          right: 5px;
          font-size: 10px;
          font-weight: 700;
          color: #222;
          display: none;
          cursor: pointer;
          font-family: "Montserrat", sans-serif;
        }
        .pass-key:valid ~ .show {
          display: block;
        }
        .submit {
          background: transparent;
        }
      }
    }
    .login {
      color: white;
      margin: 20px 0;
      font-family: "Poppins", sans-serif;
    }
    .links {
      display: flex;
      cursor: pointer;
      color: white;
      margin: 0 0 20px 0;
      .facebook,
      .instagram {
        width: 100%;
        height: 45px;
        line-height: 45px;
        margin-left: 10px;
      }
      .facebook {
        margin-left: 0;
        background: #4267b2;
        border: 1px solid #3e61a8;
        &:hover {
          background: #3e61a8;
        }
      }
      .instagram {
        background: #e1306c;
        border: 1px solid #df2060;
        &:hover {
          background: #df2060;
        }
      }
      i {
        font-size: 17px;
        span {
          margin-left: 8px;
          font-weight: 500;
          letter-spacing: 1px;
          font-size: 16px;
          font-family: "Poppins", sans-serif;
        }
      }
    }
    .signup {
      font-size: 15px;
      color: white;
      font-family: "Poppins", sans-serif;
      a {
        color: #3498db;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #3f51b554 inset !important;
}
